name: Nightly build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: "0 0 * * *"

jobs:
  build:
    name: Build image tag ${{ matrix.tag }} from branch ${{ matrix.branch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tag: "latest"
            branch: "master"
          - tag: "3.4"
            branch: "release/v3.4"
          - tag: "3.3"
            branch: "release/v3.3"
          - tag: "3.2"
            branch: "release/v3.2"

    steps:
      - uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          build-args: |
            SDK_BRANCH=${{ matrix.branch }}
          push: true
          tags: xingrz/esp8266-rtos-builder:${{ matrix.tag }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
